@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;

}

* {
    margin: 0px;
    padding: 0px;
}

:root {
    --color-01: #97ED8A;
    --color-02: #45BF55;
    --color-03: #168039;
    --color-04: #044D29;
    --color-05: #00261C;


    --font-padrao: arial, verdana, Helvetica, sans-serif;
    --font-destaque: 'Bebas Neue', cursive;
    --font-android: 'Android', cursive;

}

body{
    background-color: #c5ebd6;
    font-family: var(--font-padrao);

}


header {
    background-image: linear-gradient(to bottom, #168039, #00261c);
    min-height: 150px;
    text-align: center;
    padding-top: 30px;

}

header > h1{
    color: #ffffff;
    font-family: var(--font-destaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);

}

header > p{
    font-family: var(--font-padrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-right: 10px;
    color: white;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.384);
    
}

nav{
    background-color: #00261C;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.37);

}

nav > a {
    color: white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.2s;
}

nav a:hover{
    background-color: #168039;
    color: #00261C;

}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.356);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

main  h1 {
    color: #00261C;
    font-family: var(--font-android);
    font-size: 1.8em;

}

main  h2{
    font-family: var(--font-android);
    color: #044D29;
    background-image: linear-gradient(to right, #45BF55, transparent);
    text-indent: 8px;

}


main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1.1em;
    line-height: 1.3em;
}

main strong{
    color: #45BF55;
    font-weight: bold;
    
}


main a {
    color: #45BF55;
    text-decoration: none;
    font-weight: bold;
}

main a:hover{
    color: #044D29;
    text-decoration: underline;
    font-weight: bold;

}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;

}

div.video {
    background-color: #00261C;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
    position: relative;

}


div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    right: 90%;

}

aside {
    color: black;
    background-color:#97ED8A;
    padding: 10px;
    border-radius: 10px;
    font-size: 15px;
    
}

aside > h3{
    color: white;
    background-color: #044D29;
    padding: 10px;
    margin: -10px -10px 0 -10px;
    border-radius: 10px;

}

aside > ul{
    list-style-type: none;
    list-style-position: inside;
    columns: 2;
    text-decoration: none;

}

footer {
    background-color: #044D29;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 1em;

}

footer a {
    color: #97ED8A;
    text-decoration: none;

}

footer a:hover{
    color: #45BF55

}
